{% extends "base.html" %}

{% block bodyblock %}

<div class="container"  style="min-height: calc(100vh - 100px);>
    <div class="row">
            <div class="col">
                <br><br>
                <!-- form : upload the image -->
                <h3 class="display-7"> Gender Classification</h3>
                <p>
                    upload an image(.jpg, .jpeg, .png), our model will
                    detect faces firest and then predict gender based on faces(male and female)
                </p>
                <!-- upload img form-->
                 <form action="#" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" name="image_name" required >
                        <input type="submit" value="Upload & Pridict" class="btn btn-outline-primary" >
                    </div>

                 </form>
            </div>
            <div class="col-8">
                <!-- report: prediction img, reporting(grayscale, eigonimg, pro_score)-->
                {% if fileupload %}
                <br><br>
                <!--predicted images-->
                <h3 class="display-8"> Predicted images </h3>
                <img src="/static/predicts/prediction_image.jpg" class="image-fluid" width="500" alt="">

                <hr>
                <br>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Detection Face</th>
                        <th>Eigen Image</th>
                        <th>Prediction Gender</th>
                        <th>Score</th>
                    </tr>
                    {% for element in report %}
                        <tr>
                            <td>
                                <img src="/static/predicts/{{ element[0] }}" class="image-fluid" height="100" alt="">
                            </td>
                            <td>
                                <img src="/static/predicts/{{ element[1] }}" class="image-fluid" height="100" alt="">
                            </td>
                            <td>{{ element[2] }} </td>
                            <td>{{ element[3] }} </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
         </div>
    </div>
</div>

<footer class="text-center mt-4 p-3" style="background-color: #f8f9fa; border-top: 1px solid #ddd; position: relative; width: 100%; bottom: 0;">
    <p>&copy; 2025 Ranjith Kumar Surineni | All Rights Reserved | </p>
    <p>Disclaimer: This website is for portfolio purposes only. The information provided is based on personal projects and experiences.</p>
    <p>
        <a href="https://github.com/ranjithkumar" target="_blank">
            <img src="/static/icons/github.png" alt="GitHub" width="30" height="30">
        </a> |
        <a href="https://www.linkedin.com/in/ranjith-kumar-surineni-b73b981b6" target="_blank"> 
            <img src="/static/icons/linkedin.png" alt="LinkedIn" width="30" height="30">
        </a> |
        <a href="https://www.upwork.com" target="_blank">
            <img src="/static/icons/upwork.png" alt="Upwork" width="30" height="30">
        </a> |
        <a href="https://leetcode.com/u/ranjith_001/" target="_blank">
            <img src="/static/icons/leetcode.png" alt="LeetCode" width="30" height="30">
        </a>
    </p>
</footer>
{% endblock %}
